[package]
name = "kharon"
version = "0.1.0"
authors = ["simone.romano <simone.romano@noku.io>"]
edition = "2018"
license = "MIT/Apache-2.0"
readme = "README.md"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
# HTTP Server
actix-web = { version = "4.0.0-beta.6" }
# GraphQL Implementation
async-graphql = { git = "https://github.com/simoneromano96/async-graphql.git", branch = "actix-web-v4-beta" }
# GraphQL Actix Adapter
async-graphql-actix-web = { git = "https://github.com/simoneromano96/async-graphql.git", branch = "actix-web-v4-beta" }
# Configuration helper
config = { version = "0.11.0", default-features = false, features = ["yaml"] }
# Lazy static evaluation
once_cell = "1.7.2"
# Serialization/Deserialization
serde = "1.0.126"
# SQLx
sqlx = { version = "0.5.2", default-features = false, features = [ "runtime-actix-native-tls", "macros", "postgres", "migrate" ] }
# Casbin adapter for SQLx
sqlx-adapter = { version = "0.4.1", default-features = false, features = ["postgres", "runtime-actix-native-tls", "offline"] }
# Tokio runtime
tokio = "1.6.0"
